body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #03A9F4;
}

.backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #673AB7;
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.canvas-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: 50%;
    position: absolute;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 
}